$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;

$font-family: (
    texte: "Roboto",
    titre: "Shrikhand"  
);

$font-size: (
    button: 1rem,
    icon: 1.6rem,
    text: 1.2rem
);

$radius: 2rem;

$anim-dur: 600ms;
$anim-delay: $anim-dur / 10;
