.helpMenu {
    padding: .8rem 2rem 2rem;
    &__steps {
        @include grid-layout;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        margin-left: .8rem;
        &__step { 
            @include flexbox;
            border-radius: $radius - .8;
            box-shadow: .25rem .25rem .6rem #00000021;
            background-color: #f6f6f6;
            & .number {
                height: 1.6rem;
                width: 1.6rem;
                margin: auto;
                margin-left: -.7rem;
                margin-right: .8rem;
                padding: .2rem .5rem;
                border-radius: 50%;
                color: #ffffff;
                background-color: $colorPrimary;
            }
        }
        & p {
            padding: .4rem 0;
            & i {
                margin-right: .8rem;
                color: #818181;
            }
        }

    }
    @include mobile-and-Tablet {
        &__steps {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}