.restaurant {
    background-color: #f6f6f6;
    padding: 2rem;
}

.cards {
    @include grid-layout;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 2rem;
    .card {
        display: block;
        background-color: #ffffff;
        border-radius: $radius - 1;
        position: relative;
        figure {
            margin: 0;
        }
        &__img {
            height: 12rem;
            width: 100%;
            border-radius: $radius - 1 $radius - 1 0 0 ;
            object-fit: cover;
        }
        &__footer {
            @include flexbox;
            padding: 1rem;
        }
        &__content {
            flex: 1;
        }
        &__title {
            margin: 0;
        }
        &__text {
            margin: .2rem 0;
        }
        & .icon {
            margin: auto 0;
        }
        &__label {
            position: absolute;
            top: 1rem;
            right: .8rem;
            padding: .5rem;
            color: darken($color: $colorTertiary, $amount: 50);
            border-radius: $radius - 1.8;
            background-color: $colorTertiary;
        }
    }
}